body{
  font-family: 'Ubuntu';
}

#section-0{
  height: 65px;   
}

.login-button{
  width: 70px;
  text-transform: none;
}

.btn-sm {
  /* padding: 0rem 0rem; */
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.logo-image{
  height: 55px;
  width: 130px;
  vertical-align: middle;
  border-style: none;
}

/* Navigation Bar*/

.navbar{
  padding: 0px 6px;
}

.navbar-color{
  background-color: #fff;
  /* background-color: #f4511e; */
}

.navbar-img-icon{
  padding-right: 3px;
  height: 19px;
}

.english-logo{
  padding-right: 3px;
  height: 14px;
}
.nav-scroll{
    animation-name: animationFade;
    animation-duration: 3s;
    animation-fill-mode: both;
    
}

.navbar-toggler-button {
  width: 75px;
  text-transform: none;
}

.navbar-toggler {
padding: .25rem .75rem;
font-size: 1.25rem;
line-height: 1;
background-color: #49505721;
border: 1px solid transparent;
border-radius: .25rem;
}

@keyframes animationFade{
    from{
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
    }
    to{
        opacity: 1;
        transform: none;
        -webkit-transform: none;
        -o-transform: none;
    }
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2rem;
  font-weight: bold;
  padding-left: 10px;
}

.navbar-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1rem;
  font-weight: 700;
}

/* Navbar Signin Sign Up Page CSS */

input[type=text],
input[type=password] {
  width: 100%;
  padding: 7px 20px;
  /* margin: 5px 0; */
  display: inline-block;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

button {
  /* background-color: green; */
  background-color: #f88a39;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
}

.cancelbtn {
  padding: 14px 20px;
  /* background-color: #FF2E00; */
  background-color: #4498C6;
}

.cancelbtn,
.signupbtn,
.signinbtn {
  float: left;
  width: 50%
}

.signin-container, .signup-container {
  padding: 16px;
}

.signin-modal{
padding-top: 90px;
}

.signup-modal{
padding-top: 20px;
}

.modal {
  display: none;
  position: fixed;
  /* overflow: scroll; */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  /* padding-top: 20px; */
}

.modal-content {
  background-color: #fefefe;
  margin: 2% auto 15% auto;
  border: 3px solid #888;
  width: 40%;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  color: #000;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
      width: 100%;
  }
}

/* Login Sign Media Query for Mobile View */
@media screen and (max-width: 360px){
.modal-content {
  width: 90%;
}
}

@media screen and (max-width: 768px){
.navbar-expand-md .navbar-nav .nav-link {
padding-right: .5rem;
padding-left: .4rem;
}

.logo-image {
margin-left: 0px;
height: 41px;
width: 80px;
vertical-align: middle;
border-style: none;
}   

.navbar-nav {
width: 700px;

}
}

#header {
    background: url(../image/prop8.jpg) center center / cover no-repeat ;
  }
  
  .pads{
    padding: 3px;
  }

  
/* Footer Section */

#footer {
  background-color: #3c3d41;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
}

.footer-brand, .footer-nav, .footer-social, .footer-ns {
  padding:10px 25px;
}

.footer-nav, .footer-social, .footer-ns {
  border-color: transparent;
}

.footer-brand h2 {
  margin:0px 0px 10px;
}

.footer-brand p {
  line-height: 1.8;
  font-size:13px;
  color:rgba(255,255,255,0.70);
}

.footer-nav ul.pages {
  list-style:none;
  padding:0px;
}

.footer-nav ul.pages li {
  padding:5px 0px;
}

.footer-nav ul.pages a {
  color:rgba(255,255,255,1.00);
}

.footer-nav ul.pages a:hover {
  color:rgba(255,255,255,0.80);
  text-decoration:none;
}

.footer-nav h4 {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-nav ul.list {
  list-style:none;
  padding:0px;
}

.footer-nav ul.list li {
  padding:5px 0px;
}

.footer-nav ul.list a {
  color:rgba(255,255,255,0.80);
}

.footer-nav ul.list a:hover {
  color:rgba(255,255,255,0.60);
  text-decoration:none;
}

.footer-social ul {
  list-style:none;
  padding:0px;
}

.footer-social h4 {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-social li { 
  padding:5px 4px;
}

.footer-social a { 
  color:rgba(255,255,255,1.00);
}

.footer-social a:hover { 
  color:rgba(255,255,255,0.80); 
  text-decoration:none; 
}

.footer-ns h4 {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-ns p {
  font-size:13px;
  line-height: 1.8; 
  color:rgba(255,255,255,0.70); 
}

.input-group>.form-control {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  height: 37px;
  margin-right: -2px;
}

.footer-input{
  margin: 9px 0;
}


/* @media (min-width: 768px) {
	.footer-nav, .footer-social, .footer-ns { 
    border-left:solid 1px rgba(255,255,255,0.10); 
  }
} */

/* svg.svg-inline--fa.fa-truck.fa-w-20.fa-2x.mt-2 {
  margin-left: -20px;
}

.logo-image {
  margin-left: -14px;
  height: 41px;
  width: 87px;
  vertical-align: middle;
  border-style: none;
  }   

  .navbar-expand-md .navbar-nav {
  width: 695px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
p.none{
  display: none;

} */

@media screen and (max-width: 768px){

svg.svg-inline--fa.fa-truck.fa-w-20.fa-2x.mt-2 {
  margin-left: -20px;
}

p.none{
  display: none;
}

h2.none{
  display: none;
}

ul.none{
  display: none;
}

h4.none{
  display: none;
}

/* .nav-about{
  margin-left: 59px;
} */

/* .footer-nav, .footer-social, .footer-ns { 
  border-left:solid 1px rgba(255,255,255,0.10); 
} */
}